.header {
  background-color: rgb(197, 139, 139);
  /* justify-content: right; */
  text-align: center;
  color: black;
  padding: 0 !important;
  margin: 0 !important;
  height: 40px;
}

/* .user-image {
  width: 50px;
  height: 100px;
} */
.user-page {
  text-align: center;
  justify-content: center;
}

.login-user {
  border: 1px solid black;
}

.usercard {
  text-align: center;
  justify-content: center;
  padding: 5%;
  margin: 5%;
  border: 1px solid black;
  background-color: rgb(238, 217, 226);
  border-radius: 5%;
}
.user-image {
  width: 50%;
}

.navbar {
  background-color: rgb(228, 188, 188);
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0 !important;
  margin: 0 !important;
  border: 1px solid rgb(202, 192, 192);
}

.nav-text {
  text-align: center;
  justify-content: center;
  display: inline;
  color: black;
}

.intro {
  padding: 2px;
  margin: 5%;
  text-align: center;
  justify-content: center;
}

.articles-body {
  padding-top: 5px;
  position: relative;
  text-align: center;
  background-color: rgb(221, 204, 204);
  border: 1px solid black;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  border-radius: 10%;
  margin: 5%;
}

.sortorder {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1%;
  margin: 1%;
}

.article-author {
  text-align: center;
  color: black;
  border: 1px solid black;
  background-color: #f1f0f0;
  margin: 2%;
}
.article-heading {
  padding: 5px;
  text-align: center;
  color: black;
  margin: 2%;
}

.article-text {
  padding-top: 10px;
  margin-top: 2%;
  color: black;
}

.centered {
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: white;
  color: black;
  border: 2px solid black;
  text-align: center;
  margin: 1%;
  /* width: 33%; */
}

.images {
  max-width: 75%;
  height: auto;
  padding: 1px;
  border: 1px solid black;
}

.carousel {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5%;
}

.carousel-text {
  color: black;
  text-decoration: none;
}

.carousel-item {
  margin-left: auto;
  margin-right: auto;
}

.loading {
  padding: 5%;
  border: 5px solid black;
  margin: 5%;
  background-color: rgb(221, 204, 204);
  justify-content: center;
  text-align: center;
}

.votes {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 5%;
}

.comment {
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  margin: 5%;
  padding: 5%;
  background-color: rgb(221, 204, 204);
  border-radius: 5%;
}

.comment-section {
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  margin: 5%;
  padding: 5%;
  background-color: rgb(221, 204, 204);
  border-radius: 5%;
}
.votes-info {
  background-color: white;
  border: 1px solid black;
}

.date {
  background-color: white;
  border: 1px solid black;
}

.postform {
  text-align: left;
  justify-content: center;
  background-color: rgb(221, 204, 204);
  border: 1px solid black;
  padding: 5%;
  margin: 5%;
  padding-top: 0%;
  border-radius: 10%;
  box-shadow: #252323;
}

.url-pic {
  width: 5%;
  height: 5%;
  text-align: left;
  justify-content: left;
  display: inline-flex;
}

.login-img {
  width: 50%;
  height: 50%;
}

.login-photo {
  width: 50px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 9%;
}

.article-form {
  justify-content: center;
  background-color: rgb(221, 204, 204);
  border: 1px solid black;
  padding: 5%;
  margin: 5%;
  padding-top: 0%;
  border-radius: 10%;
  box-shadow: #252323;
}

.d-flex {
  justify-content: center;
  text-align: center;
  background-color: rgb(153, 135, 135);
  width: 100%;
  height: 100%;
  color: black;
}
